DATABASE_URL='postgresql://neondb_owner:npg_RzTG0kqD5dsO@ep-restless-mouse-b4o79pds-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=verify-full&channel_binding=require'
PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
OTP_HASH_SECRET=c9e7e37065d47ac5f0ca963d4d50e8e3e4c18af4e00833011fb97f73522d9f04
OTP_CONSOLE_ENABLED=false

